<ion-view view-title="My Trips">
  
  <ion-nav-buttons side="right">
      <button class="button icon ion-plus" ng-click="createItinerary()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    
    <ion-refresher pulling-text="Reload..." on-refresh="doReload()">
    </ion-refresher>

    <div class="loader-wrapper" ng-show="tripLoader">
        <ion-spinner class="spinner-android"></ion-spinner>
    </div>

    <!-- list of my trips -->
    <div class="list">

      <div class="item item-thumbnail-left" ng-repeat="t in trips" ng-click="manageTrip('{{ t.tripId }}', '{{ t.tripName }}')">
        <img src="{{ t.tripImage }}">
        <h2>{{ t.tripName }}</h2>
        <p>{{ t.startdate }} - {{ t.enddate }} </p>
      </div>

    </div>

    <div class="no-data-wrapper" ng-show="tripEmpty">
      <div class="title">
        You don't have any trip yet, create one!
      </div>
    </div>


  </ion-content>
</ion-view>
