<ion-view view-title="Hotel">
  
    <ion-nav-buttons side="right">
      <button class="button icon ion-plus" ng-click="openModalHotel()"></button>
    </ion-nav-buttons>

  <ion-content>
    
    <ion-refresher pulling-text="Reload..." on-refresh="doReloadTripHotel()">
    </ion-refresher>

    <div class="loader-wrapper" ng-show="hotelLoader">
        <ion-spinner class="spinner-android"></ion-spinner>
    </div>

    <!-- list of my trips -->
    <div class="list">

      <div class="item" ng-repeat="t in triphotels">
        <h2>{{ t.hotelName }}</h2>
        <p>{{ t.checkindate }} - {{ t.checkoutdate }} </p>
      </div>

    </div>

    <div class="no-data-wrapper" ng-show="hotelEmpty">
      <div class="title">
        You don't have any hotel yet, add one!
      </div>
    </div>

  </ion-content>
</ion-view>
