<ion-modal-view>
  
  <ion-header-bar no-tap-scroll="true">
    <button class="button icon ion-chevron-left" ng-click="back()"></button>
    <div style="padding:7px;">Hotel Booking</div>
  </ion-header-bar>

  <ion-content>
    
    <div class="list">
      <label class="item item-input">
        Hotel Name: {{ model.hotelName }}
      </label>
       <label class="item item-input">
        <input type="text" placeholder="Location">
      </label>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Check-in date" ng-model="model.checkindate">
        </label>
        <button class="button button-small" ng-click="pickCheckin()">
          Select
        </button>
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Check-out date" ng-model="model.checkoutdate">
        </label>
        <button class="button button-small" ng-click="pickCheckout()">
          Select
        </button>
      </div>

    </div>

    <div class="padding">
      <button class="button button-block button-positive activated" ng-click="submitHotelBooking()">Submit</button>
    </div>

  </ion-content>

</ion-modal-view>