/* Empty. Add your own CSS if you like */
.no-data-wrapper {text-align:center;padding:20px 5px;}
.no-data-wrapper .title {font-size:14px;font-weight:600;}
.loader-wrapper {text-align:center;padding:4px;}

.mymap .scroll {height:100%;}
#map {width: 100%;height: 100%;}

/** animation modal **/
.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }